* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
}

nav {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("../img/Main-V2.jpg");
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 30px;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  margin: 65px 0;
}

h1 {
  font-size: 64px;
  text-align: center;
  font-weight: 400;
  color: white;
}

h2 {
  color: white;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  all: unset;
  padding: 33px 55px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  border: 4px solid white;
  background: #fff;
  font-weight: 700;
  color: black;
}

.button:active {
  transform: scale(0.99);
}

/* Gallery */

.gallery {
  display: grid;
  padding: 10px 0;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.gallery-img {
  width: 100%;
  object-fit: cover;
  height: min-content;
}

.gallery-img-half {
  display: flex;
  height: min-content;
  object-fit: cover;
}

/* Map */

.map-img {
  width: 100%;
}

/* Testimonials */
.testimonials {
  padding: 10px;
}

.review {
  padding: 10px 0;
}

.avatar {
  display: flex;
  padding-top: 10px;
}

/* Features */

.features {
  padding: 10px;
}

.footer-button {
  background-color: green;
  color: white;
}

/* Footer */

footer {
  padding: 10px;
  background-color: black;
  color: #fff;
}

.footer-text {
  text-align: left;
}
/* Media Queries */

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  main {
    height: 30%;
  }
}
