* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("../img/Main-V2.jpg");
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 30px;
}
/* 
main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
} */

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  margin: 65px 0;
}

h1 {
  font-size: 64px;
  text-align: center;
  font-weight: 400;
  color: white;
}

h2 {
  color: white;
}

h3 {
  font-size: 32px;
  padding: 50px 0;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  all: unset;
  padding: 40px 90px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  border: 4px solid white;
  background: #fff;
  font-weight: 700;
  color: black;
}

.button:active {
  transform: scale(0.99);
}

/* Gallery */

.image-section {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.gallery {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-bottom: 15px;
}

.gallery-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center center;
}

#img-1 {
  grid-row: 1 / 1;
  background-image: url("../../img/Janion-Suite-new-1.jpg");
}

#img-2 {
  grid-row: 1 / 2;
  background-image: url("../../img/Janion-Suite-new-4.jpg");
}

#img-3 {
  grid-row: 2 / 2;
  background-image: url("../../img/Janion-Suite-Heritage-3.jpg");
}

#img-4 {
  grid-row: 2 / 2;
  background-image: url("../../img/Janion-Roof-Amenity.jpg");
}

#img-5 {
  grid-row: 3 / 3;
  background-image: url("../../img/RelianceJanionBldg.jpg");
}

#img-6 {
  background-image: url("../../img/Janion-Suite-Heritage-1.jpg");
  width: 120px;
}

#img-7 {
  background-image: url("../../img/Janion-Microsuite-Bathroom.jpg");
  width: 120px;
}

.gallery-img-half {
  display: flex;
  height: min-content;
  object-fit: cover;
  grid-row: 3 / 4;
  width: 100%;
  justify-content: space-between;
}

/* Testimonials */

h4 {
  align-content: center;
  padding-left: 10px;
}

.avatar-img {
  width: 50px;
}

/* Map */
.map {
  grid-row: 2 / 2;
}

.map-img {
  width: 100%;
}

.testimonials-features {
  grid-row: 3 / 3;
  padding: 0 16px;
  padding-top: 40px;
}

/* Testimonials */

.review {
  padding: 20px 0;
}

.avatar {
  display: flex;
  padding-top: 10px;
}

/* Features */

.features {
  padding: 10px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

/* Button Section */
.button-section {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Footer */

.footer-button {
  background-color: #04c60c;
  color: white;
  margin: 50px;
}

footer {
  padding: 10px;
  background-color: black;
  color: #fff;
}

.footer-text {
  padding-top: 5rem;
  text-align: left;
}
/* Media Queries */

@media (min-width: 1000px) {
  body {
    font-size: 24px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    height: 30%;
    padding: 100px 10%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  button {
    padding: 57px 130px;
  }

  /* Gallery */

  .image-section {
    display: flex;
    flex-direction: row;
  }

  .gallery {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding-bottom: 15px;
    padding-right: 50px;
    width: 70%;
  }

  #img-1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #img-2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #img-3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  #img-4 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #img-5 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .gallery-img-half {
    display: flex;
    height: min-content;
    object-fit: cover;
    grid-area: 2 / 3 / 3 / 4;
    width: 100%;
  }

  .map {
    width: 30%;
  }

  .map-img {
    max-width: 100%;
  }

  .reviews {
    padding-bottom: 50px;
  }

  .testimonials-features {
    width: 70%;
  }

  /* Features */
  .feature-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Footer */

  .footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 81px 10%;
  }
}
